body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

h1 {
  font-size: 1.5rem;
}

.main-menu {
  display: grid;
}

#result {
  font-size: 1.5em;
  margin: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Bouton petit */
.btn-small {
  font-size: 0.8em;
  padding: 5px 10px;
}

/* Bouton moyen (par défaut) */
.btn-medium {
  font-size: 1em;
  padding: 10px 20px;
}

/* Bouton grand */
.btn-large {
  font-size: 1.2em;
  padding: 15px 30px;
}

.input-small {
  width: 2.4em;
}
